.Box1{
    width: 150px;
    height: 300px;
    border: 10px solid chocolate;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
#mainbox{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    

}
.head{
display: flex;
justify-content: center;
font-size: 30px;
background-color: crimson;
text-decoration: underline;
    
}