p{
    color: rgb(109, 67, 67);
    background-color: aquamarine;
    font-size: 40px;
    font-weight: bolder;
    text-decoration: overline;
    font-style: italic;
    letter-spacing: 15px;
    line-height: 50px;
    


}
