
#para1{
color: darkgrey;
font-size: 30px;
font-weight: 500;
text-decoration: line-through;

}
.para2{

    color: brown;
    font-size: 40px;    
    text-decoration: overline;
    background-color: rgb(207, 207, 87);
}
b{
    color: black;
    background-color: cadetblue;
    text-align: center;
    text-decoration: underline;
    font-weight: 3000;
    font-size: 50px; 
    align-items: center;
    align-self: center;


}

table{
    font-size: 20px;
    color: chartreuse;
    background-color: cornflowerblue;
    word-spacing: 30px;
    

    

}

.q1{

    font-size: 50px;
    
    border: 20px double crimson;
    margin: 50px;
    padding-left: 10px;

}
.a1{
    color: aqua;
}
.a2{

    color: blue;
}
.a3{
    color: brown;
}
.z1{
    font-size: 50px;
    border: 14px dotted rgb(81, 105, 105);
    /* padding: 30px; */
    margin: 15px;
    padding: 10px 20px;



}
.x2{
font-size: 12px;
display: flex;
justify-content: right;

width: 50px;
height:50px;
border: 5px solid chocolate;
justify-content: center;

}
.c2{

    border: 5px solid palegoldenrod;
        
    

}
.m1{
    display: inline;
    width: 250px;
    height: 250px;
    border: 5px solid chartreuse;
    margin: 100px;
    padding: 50px;
    gap: 10px;
    
}
.m2{
     display: inline;
    width: 250px;
    height: 250px;
    border: 5px solid chartreuse;
    margin: 100px;
    padding: 50px;
    gap: 10px;
}

.m3{
 display: inline;
    width: 250px;
    height: 250px;
    border: 5px solid chartreuse;
    margin: 100px;
    padding: 50px;
    gap: 10px;
}   
.aa{
    border: 5px solid cornflowerblue;
    display: flex;
    display: inline-flexbox;
    gap: 50px;
    margin: 30px;
    justify-content: space-evenly;
}    

